[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = josersl2003@gmail.com
	name = José Lopes
	signingkey = CDC556A41B5AF70C
[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
; [commit]
; 	gpgsign = true
; [tag]
; 	gpgSign = true
