[include]
    path = ~/.gitconfig.local
[credential]
	helper = cache --timeout=34560000
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[credential]
	helper = store
; [gpg]
; 	program = gpg2
[core]
	editor = nvim
[pull]
	rebase = false

[core]
pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
