prefer-no-csd

spawn-at-startup "waybar"
spawn-at-startup "nm-applet"
spawn-at-startup "dropbox"

// spawn-sh-at-startup "swaybg -i ~/dotfiles/wallpapers/osaka-jade-bg-3.jpg -m fill"
// spawn-sh-at-startup "swaybg -i ~/dotfiles/wallpapers/wallpaper.png -m fill"
spawn-sh-at-startup "swaybg -i ~/dotfiles/wallpapers/dune.jpg -m fill"
spawn-sh-at-startup "~/.config/niri/scripts/notify-track-change.sh"

input {
    keyboard {
        xkb {
            layout "pt,us"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    tablet {
        // map-to-output "eDP-1"
        map-to-output "HDMI-A-1"
    }

    // warp-mouse-to-focus

    focus-follows-mouse
}

output "eDP-1" {
    mode "1920x1080@144.001"
    scale 1
    position x=0 y=0
}

output "PNP(AOC) Q27G2SG4 XFXN9HA011827" {
    mode "2560x1440@143.912"
    scale 1
    position x=1920 y=1060
}

output "PNP(AOC) 27B2 0x0000DF45" {
    mode "1920x1080@60.000"
    scale 1
    position x=1920 y=1060
}

// output "HDMI-A-1" {
//     mode "1920x1080@74.973"
//     scale 1
//     position x=1920 y=1060
// }

// output "HDMI-A-1" {
//     mode "1920x1080@60.000"
//     scale 1
//     position x=1920 y=1060
// }

// output "HDMI-0-0" {
//     off
//     mode "1920x1080@74.973"
//     scale 1
//     position x=1920 y=1060
// }

layout {
    // Set gaps around windows in logical pixels.
    gaps 0

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // Uncomment this line to disable the focus ring.
        off

        // How many logical pixels the ring extends out from the windows.
        width 2

        active-color "transparent"
        inactive-color "transparent"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        // off

        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 3500
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    open-maximized true
    // geometry-corner-radius 16
    clip-to-geometry true
}

binds {
    Mod+P repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn-sh "GTK_IM_MODULE=simple ghostty"; }
    // Mod+Return { spawn "kitty"; }
    // Mod+Return { spawn "alacritty"; }
    // Mod+Return { spawn-sh "GTK_IM_MODULE=simple ghostty"; }
    Mod+B { spawn "firefox"; }
    Mod+X { spawn "xournalpp"; }
    Mod+N { spawn "nemo"; }

    Mod+D { spawn-sh "rofi -show combi -modes combi -icon-theme Papirus -show-icons"; }
    Mod+C { spawn-sh "rofi -show calc -modi calc -no-show-match -no-sort"; }
    Mod+Alt+L { spawn-sh "swaylock -i ~/dotfiles/wallpapers/door.png"; }
    Alt+V { spawn-sh "~/.config/niri/scripts/current_track.sh"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Alt+Plus    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    Alt+Minus   allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    Alt+m       allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    Alt+Shift+m allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86AudioPlay  allow-when-locked=true  { spawn "playerctl" "play-pause"; } 
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext  allow-when-locked=true  { spawn "playerctl" "next"; }
    XF86AudioPrev  allow-when-locked=true  { spawn "playerctl" "previous"; }

    Alt+P    allow-when-locked=true { spawn "playerctl" "play-pause"; }
    Alt+N    allow-when-locked=true { spawn "playerctl" "next"; }
    Alt+Shift+N    allow-when-locked=true { spawn "playerctl" "previous"; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+E { focus-monitor-previous; }
    Mod+Shift+E { move-column-to-monitor-previous; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // Mod+1 { focus-workspace 1; }
    // Mod+2 { focus-workspace 2; }
    // Mod+3 { focus-workspace 3; }
    // Mod+4 { focus-workspace 4; }
    // Mod+5 { focus-workspace 5; }
    // Mod+6 { focus-workspace 6; }
    // Mod+7 { focus-workspace 7; }
    // Mod+8 { focus-workspace 8; }
    // Mod+9 { focus-workspace 9; }
    // Mod+Shift+1 { move-column-to-workspace 1; }
    // Mod+Shift+2 { move-column-to-workspace 2; }
    // Mod+Shift+3 { move-column-to-workspace 3; }
    // Mod+Shift+4 { move-column-to-workspace 4; }
    // Mod+Shift+5 { move-column-to-workspace 5; }
    // Mod+Shift+6 { move-column-to-workspace 6; }
    // Mod+Shift+7 { move-column-to-workspace 7; }
    // Mod+Shift+8 { move-column-to-workspace 8; }
    // Mod+Shift+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // There are also commands that consume or expel a single window to the side.
    // Mod+BracketLeft  { consume-or-expel-window-left; }
    // Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    // Mod+C { center-column; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Mod+Shift+p { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+O { toggle-overview; }

    Mod+Shift+Q { spawn "~/.config/niri/scripts/rofi-power-menu.sh"; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Alt+Shift+P { power-off-monitors; }
}
