configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  combi-modi: "drun,IST:~/.config/rofi/scripts/IST.sh";
  modi: "combi";
  terminal: "alacritty";
}

@theme "~/.config/rofi/themes/everforest.rasi"
